:host {
    overflow: hidden;
    position: relative;
    top: -20px;

    .iframe {
        min-width: 100%;
        scale: 80%;
        transform: translate(-10%, 0%);
        transform-origin: top left;
        width: 150%;
        height: 150%;
        position: relative;
        left: -20px;
        border: none;
    }
}
