:host {
    position: relative;
    top: -20px;
    overflow: hidden;

    .iframe {
        position: relative;
        left: -20px;
        //transform-origin: top left;
        //transform: translate(-10%, 0%);
        //scale: 80%;
        //
        width: calc(100% + 40px);
        min-height: calc(100% + 40px);
        //min-width: 100%;
        //height: 100%;

        border: none;
    }
}
