<div id="sb-container" class="sb-container"></div>
<app-large
    *ngIf="device === 'large'"
    [userStatement]="userStatement"
    [environnementInfo]="environnementInfo"
    [appInfo]="appInfo"
    [course]="course"
    [module]="module"
    [has_access_to_course]="has_access_to_course"
    [is_loading]="is_loading"
    [mode]="mode"
    [current_module_progression_index]="current_module_progression_index"
    [current_chapter_progression_index]="current_chapter_progression_index"
    [current_page_progression_index]="current_page_progression_index"
    (moduleAndChapterToLoad)="onModuleClick($event)"
    (setCurrentNavigation)="setCurrentNavigation($event)"
></app-large>
<app-small *ngIf="device === 'small'"></app-small>
